<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../cssFiles/admin.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to the admin panel</h1>
        <!-- <button id="addProductBtn" class="btn btn-primary">Add Product</button> -->
        <button id="productListingBtn" class="btn btn-primary">Products List</button>
        <button id="ordersBtn" class="btn btn-primary">Orders</button>
        <!-- <button id="websiteStatsBtn" class="btn btn-primary">Website Statistics</button>
        <button id="userssBtn" class="btn btn-primary">Users</button>
        <button id="incomeBtn" class="btn btn-primary">Income</button> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../jsFiles/admin.js"></script>
</body>

</html>