<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>indexPage</title>
  <meta name="description" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../cssFiles/global.css">
  <link rel="stylesheet" href="../cssFiles/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('backGround.jpg')">


  <!-- Container -->

  <div style="border-style: solid; border-color: d4d4d4" class="container">
    <div class="row">
      <!-- #b7beed -->


        <div class="well well-lg" style="background-color: #e3f9df">
          <h1 style="text-align: center">Login</h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form id="frm">
            <div class="form-group">
              <label>Username:</label>
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-user"></i
              ></span>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-lock"></i
              ></span>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="password"
                name="password"
              />
            </div>

          <button style="
                background-color: #bdd3f8;
                color: black;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              " type="submit" class="btn btn-default btn btn-primary active">
            <strong>Submit</strong>
          </button>

          <br />
        </form>
        <div class="well" style="text-align: center; margin: auto; background-color: #e3f9df">
          <button id="btn_register" style="background-color: #bdd3f8; color: black; width: 56%" type="submit"
            class="btn btn-default btn btn-primary active">
            <strong>Sign up</strong>
          </button>
        </div>

        <div id="div_alert"></div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>



    <script src="../jsFiles/login.js"></script>
  </body>
</html>

