<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>indexPage</title>
  <meta name="description" content="" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../cssFiles/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>




<div class="container">


  <!-- <h2 class="logIn">Login Page</h2> -->
<p class="sign">Sign in</p>
<hr style="border: solid #4658FF 2px;">
  <form id="frm">

    <!-- Username input -->
    <div class="form-group">
      <label>Username:</label>
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-user"></i
      ></span>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="username"
        name="username" -->
      
    </div> 

    <!-- Username input -->
    <div class="form-group">
      <label for="pwd">Password:</label>
      <span class="input-group-addon"
        ><i class="glyphicon glyphicon-lock"></i
      ></span>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
        name="password"
      />
    </div>



    <!-- Submit btn -->
    <button class="btn btn-primary" type="submit" ><strong>Submit</strong></button>


  </form>


    <!-- Register btn -->
  <button id="btn_register" class="btn btn-primary"><strong>Sign up</strong></button>


  
  <br><br>
  <div id="div_alert"></div>


</div>


    <script src="../jsFiles/login.js"></script>
  </body>
</html>

