<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/cssFiles/mainPage.css" />
  <title>Home Page</title>
</head>

<body>

  <nav class="navbar navbar-light bg-light " id="nav-bar">
    <h4 id="username"></h4>
    <form class="form-inline" id="form-inline">
      <input class="form-control" id="search-input" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" id="search-button" type="submit">Search</button>
    </form>
    <!-- settings toggle button -->
    <div class="btn-admin-andGroup">
      <div class="btn-admin"></div>
      <div class="btn-group">
        <button type="button" id = "settingsBtn" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </button>
        <div class="dropdown-menu ">
          <button id="user-details" class="dropdown-item" type="button">User details</button>
          <button id="order-history" class="dropdown-item" type="button">Order history</button>
          <button id="logout" class="dropdown-item" type="button">Logout</button>
        </div>
      </div>

      <!-- cart button container -->
      <div class="cart-container">
        <button id="cartBtn"><i class="fas fa-shopping-cart cart-icon">Cart</i></button>
        <span id="cart-counter" class="cart-counter"></span>
      </div>
    </div>


  </nav>
  <div class="filter-menu-container">

    <div class="container">
      <div class="row" id="filter-menu-row"> </div>
      <div id="weather-container"></div>
      <!-- facebook api -->
      <div class="fb-like" data-href="https://onlineStore.com" data-width="" data-layout="standard" data-action="like"
        data-size="small" data-share="true">

      </div>

      <!-- end of facebook api -->



    </div>
    <img src="resources/facebook-logo.jpg" alt="facebook-logo" id="facebook-logo">
  </div>
  <div class="card-container"></div>


  <!-- script facebook -->
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0&appId=YOUR_APP_ID&autoLogAppEvents=1"
    nonce="YOUR_NONCE_VALUE"></script>
  <!-- end of script facebook -->

  <script src="../jsFiles/mainPage.js"></script>

</body>

</html>