@import 'global.css';
#users ul {
    list-style-type: none;
    padding: 0;
}

#users ul li {
    margin-bottom: 5px;
    padding: 5px; /* Adjust the padding size as per your preference */
    border-radius: 5px;
}


.btn-primary {
    background-color: var(--purple-btn-color);
  }

  