@import 'global.css';


body {
  margin-top: 80px;
}

.filter-menu-container {
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
}

#filter-menu-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filter-menu-row .col-md-2 {
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33% - 20px);
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-family: var(--homepage-font);
  font-weight: bold;
}

.card-details {
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-add-to-cart {
  width: 100%;
}

.cart-container {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
}

.cart-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-primary {
  background-color: var(--purple-btn-color);
}