@import 'global.css';



@media screen and (max-width: 992px) {
  .card {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .card {
    flex-basis: calc(100% - 20px);
  }
}


body {
  margin-top: 80px;
}


.filter-menu-container {
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 60px;
}

#filter-menu-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

#filter-menu-row .col-md-2 {
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.card {
  width: calc(33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--input-border-radius);

}

.card-img-top {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
}

.card-title {
  font-size: 18px;
  font-family: var(--homepage-font);
  font-weight: bold;
}

.card-details {
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-add-to-cart {
  width: 100%;
}

.cart-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 9999;
}

.cart-icon {
  font-size: 24px;
}

.cart-counter {

  position: relative;
  top: -16px;
  right: 9px;

  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-input {
  width: 200px;
  margin-right: 10px;
}


.btn.btn-primary {
  background-color: var(--purple-btn-color);
}


#weather-container {
  background-color: #82e3f6;
  border-radius: 100px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: var(--font);
  color: #333;
  width: 300px;
  left: 243px;
  top: 100px;
  position: relative;
}

.add-btn-cart {
  position: relative;
  padding: 10px 10px;
}

/* facebook api*/
.fb_iframe_widget {
  display: inline-block;
  position: relative;
  top: 102px;
  left: 347px;
}

#username {
  position: relative;
  right: 700px;

}

#form-inline {
  right: 850px;
  position: relative;

}

#facebook-logo {
  object-fit: contain;
  width: 70px;
  height: 70px;
  position: relative;
  right: -100px;

}