
body{
    margin: 70px;
    background-color:#F5FFFA;
}

.order-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.row{
    margin: 20px;
    border: 10px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--input-border-radius);
}
.right{
    padding-right: 0;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.total-price {
    display: flex;
    justify-content: center;

}

.card-title 
{
    margin-right: 300px;
    margin-bottom: 20px;
}


aside{
    width: 20%;
    max-width: 150px;
    min-width: 100px;
    float: left;
}



@font-face {
    font-family: 'CoolFont';
    src: url('cool-font.woff2') format('woff2'),
         url('cool-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

#title {
    
    position: relative;
    right: 80px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease-in-out;
  }

  #title:hover {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  }

.avg-price {
    display: flex;
    justify-content: center;
}












